@model ConfigModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Config</h1>

<p>
    @Html.ActionLink("Create", "Create","Link", new { config = Model.Name}, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Display Name
            </th>
            <th>
                Url
            </th>
            <th>
                Probability
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Links.OrderBy(x=>x.Link.Id)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Link.DisplayName)
            </td>
            <td>
                <a href="@item.Link.Uri">@Html.DisplayFor(modelItem => item.Link.Uri)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link.Probability)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Link", new { config = Model.Name, id = item.Link.Id}) |
                @Html.ActionLink("Delete", "Delete", "Link", new { config = Model.Name, id = item.Link.Id })
            </td>
        </tr>
}
    </tbody>
</table>
